
:root{
    --cor-subtitulos:rgb(239, 177, 42);
    --cor-con-sub:rgb(177, 11, 11);
}

*{
    margin: 0%;
    box-sizing: border-box;
    font-family:'Fredoka One', cursive;
    
}
body{
    background-image: url(assets/img/a\ boa\ boa\ boa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
}
ul{
    display: flex;
}
.li2{
    list-style-type: none;
    padding-left: 2rem;
    font-size: 20px;   
}
.menu{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}
.tdmenu:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}
.container{
    position: relative;
    margin: 3%;
}
input{
    width: 300px;
    padding: 20px;
    font-size: 24px;
    color: #181818;
    outline: none;
    border: 2px solid #181818;
}
span{
    position: absolute;
    top: 22px;
    left: 25px;
    font-size: 22px;
    letter-spacing: 0.05em;
    pointer-events: none;
    font-weight: 600;
    font-family: sans-serif;
    transition: 0.5s;
    color: #181818;
}
input:focus{
    border: none;
    outline: 2px solid var(--cor-con-sub);
}
input:focus + span,
input:valid + span{
    top: -12px;
    left: 10px;
    font-size: 20px;
    padding: 0 10px;
  background-color: rgb(255, 255, 255);
}
.tel{
    margin-left: 47px;
}
.section1{
    height: 40vh;
}
.imgboa{
    position: absolute;
    top: 240px;
    left: 830px;
}
a{
    text-decoration: none;
    color: black;
}
.li2:hover{
    transition: 1s all;
    transform: scale(1.1);
    cursor: pointer;
}
/*RESPONSIVIDADE*/


/*Mobile*/
@media screen and (min-width: 0) {
   body{
    background-color: var(--cor-con-sub);
   }
    ul{
   flex-direction: column;
   padding: 2rem;
}
}
.logo{
  display: none;
}
.li2{
    font-size: 2rem;
    padding: 0.2rem;
    list-style-type: circle;
}
.container, .tel{
   margin-left: 120px;
}

/*Desktop*/
@media screen and (min-width: 998px) {
    ul{
        flex-direction: row;
    }
    .logo{
        display: flex;
    }
    .li2{
        font-size: 20px;
        list-style-type: none;
        padding-left: 1.8rem;
    }
}
@media screen and (min-width: 768px) {
    ul{
        flex-direction: row;
    }
    .logo{
        display: flex;
    }
    .li2{
        font-size: 20px;
        list-style-type: none;
        padding-left: 1.8rem;
    }
}

